body {
  background-color: #f7f5f2;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: 'PT Sans', sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.h_list {
  overflow-x: visible;
  overflow-y: visible;
  margin-left: 12px;
  padding-top: 4px;
  padding-left: 0px;
  font-family: 'Droid Sans', sans-serif;
}

.h_li {
  height: 46px;
  margin-top: 2px;
  margin-right: 4px;
  margin-bottom: 2px;
  padding: 10px 16px 9px;
  float: left;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.h_li.h_li_active {
  height: 46px;
  margin-right: 4px;
  padding-bottom: 9px;
  border-radius: 3px;
  background-color: #eac84d;
  color: white;
  font-size: 20px;
}

.c {
  position: relative;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

.c.c_fixed {
  box-shadow: black 0px -1px 10px 0px;
}

.c_translate {
  display: block;
  min-height: 46px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 54px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
  line-height: 20px;
  font-style: italic;
  font-weight: 700;
}

.c_translate.c_fixed {
  height: 46px;
  font-size: 17px;
  line-height: 20px;
}

.c_col {
  width: 130px;
  margin-left: 10px;
  float: left;
  line-height: 29px;
}

.c_col.c_pron {
  position: absolute;
  left: 0px;
  top: 40px;
  z-index: 21;
  width: 30px;
  margin-left: 12px;
  padding-top: 4px;
  float: left;
  color: #bab09e;
  font-size: 14px;
  line-height: 39px;
}

.c_col.c_pron.c_fixed {
  top: 40px;
  z-index: 19;
  width: 44px;
  margin-left: 0px;
  padding-top: 3px;
  padding-left: 15px;
  background-color: #f7f5f2;
  font-family: 'Droid Sans', sans-serif;
  color: #bab09e;
  font-size: 13px;
  line-height: 39px;
}

.c_col.c_th {
  min-height: 36px;
  margin-top: 4px;
  margin-left: 10px;
  padding-top: 2px;
  padding-right: 10px;
  padding-left: 4px;
  float: left;
  border: 1px solid #c9c0b2;
  border-radius: 3px 3px 0px 0px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.c_col.c_th.c_th_shown {
  margin-bottom: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.c_col.c_th.c_th_shown.c_th_active {
  background-color: #a8a092;
}

.c_col.c_th.c_th_active {
  margin-bottom: 0px;
  border-color: #c9c0b2;
  background-color: #c9c0b2;
  font-size: 14px;
}

.c_col.c_menu {
  position: absolute;
  left: 0px;
  z-index: 19;
  width: 44px;
  min-height: 40px;
  margin-left: 0px;
  padding-left: 12px;
  background-color: #bab09e;
  background-image: url('../images/menu.svg');
  background-position: 50% 50%;
  background-size: auto 50%;
  background-repeat: no-repeat;
}

.c_col.c_menu.c_fixed {
  position: fixed;
  top: 0px;
  z-index: 31;
  width: 44px;
  min-height: 40px;
  margin-left: 0px;
  padding-left: 12px;
}

.c_time_tr {
  overflow-x: visible;
  overflow-y: visible;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 4px;
  padding-left: 44px;
}

.c_time_tr.c_time_th {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 30;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 660px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #bab09e;
  color: white;
}

.c_time_tr.c_time_th.c_time_th_active {
  overflow-x: visible;
  overflow-y: visible;
  width: 360px;
  min-height: 240px;
}

.c_timetable {
  overflow-x: scroll;
  overflow-y: scroll;
  width: 660px;
  padding-top: 40px;
  clear: left;
}

.h {
  position: absolute;
  top: 346px;
  display: block;
  width: 100%;
  padding-top: 0px;
}

.c_trans {
  position: fixed;
  top: 290px;
  z-index: 1;
  width: 100%;
  height: 51px;
}

.c_trans.c_fixed {
  position: fixed;
  top: 280px;
  z-index: 1;
  width: 100%;
  height: 51px;
  font-size: 17px;
}

.keyboard {
  position: fixed;
  bottom: 0px;
  z-index: 100;
  display: block;
  width: 100%;
  padding-top: 4px;
  background-color: white;
  box-shadow: #d3c9c9 0px 0px 3px 0px;
}

.key {
  min-width: 8.08%;
  margin: 6px 0.5%;
  padding-top: 10px;
  padding-bottom: 13px;
  float: left;
  border-bottom: 1px solid lightgrey;
  border-radius: 8px;
  background-color: #f2f2f2;
  font-family: 'Droid Sans', sans-serif;
  font-size: 27px;
  line-height: 48px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

.key.key_back {
  width: 8%;
  border-bottom: 1px none black;
  background-color: transparent;
}

.key_tr {
  padding-right: 6px;
  padding-left: 6px;
}

.key_tr.key_tr_1 {
  font-size: 14px;
}

.h_x {
  position: relative;
  right: 0px;
  width: 44px;
  height: 50px;
  padding-top: 12px;
  float: right;
  font-family: 'PT Sans', sans-serif;
  font-size: 34px;
  text-align: center;
}

.h_searchinput {
  height: 50px;
  margin-right: 44px;
  float: left;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  line-height: 44px;
}

.key_enter {
  width: 64px;
  height: 64px;
  margin-top: 6px;
  margin-right: 30px;
  margin-bottom: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  float: right;
  border-radius: 41px;
  background-color: #e4e4e4;
  background-image: url('../images/subm_e.svg');
  background-position: 50% 50%;
  background-size: 45%;
  background-repeat: no-repeat;
}

.key_enter.key_enter_active {
  background-color: #d36b50;
  background-size: 45%;
}

.key_back {
  width: 8.88%;
  height: 70px;
  margin-top: 6px;
  margin-bottom: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  float: right;
  background-image: url('../images/key_back.svg');
  background-position: 46% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.h_search {
  position: absolute;
  left: 0px;
  top: 250px;
  right: 0px;
  z-index: 50;
  display: none;
  height: 50px;
  margin-left: 1px;
  padding-left: 50px;
  background-color: white;
}

.h_suggest {
  position: absolute;
  left: 0px;
  top: 46px;
  z-index: 20;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
  background-color: white;
}

.h_sugg_ul {
  display: block;
  padding-left: 50px;
}

.h_sugg_li {
  display: block;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'PT Sans', sans-serif;
  color: #b8b8b8;
  font-size: 17px;
  text-decoration: none;
}

.h_sugg_li.h_sugg_first {
  margin-left: 0px;
  color: black;
}

.h_sugg_li.h_sugg_second {
  color: #777;
}

.key_showkbd {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 51;
  width: 54px;
  height: 48px;
  border-top-right-radius: 20px;
  background-color: #f7f5f2;
  background-image: url('../images/key_show.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.key_hidekbd {
  height: 80px;
  min-width: 8.88%;
  float: left;
  background-image: url('../images/key_hide.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.h_search_cursor {
  display: inline-block;
  width: 3px;
  height: 28px;
  margin-top: 8px;
  background-color: #d36b50;
}

.h_sort.h_sort_fixed {
  position: fixed;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 50px;
  background-color: #fcfcfc;
}

.h_sort_li {
  width: 28%;
  height: 42px;
  margin-top: 4px;
  margin-right: 10px;
  float: right;
}

.h_sort_li.h_sort_favorite {
  background-image: url('../images/sort_fav.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.h_sort_li.h_sort_favorite.h_sort_active {
  border-radius: 3px;
  background-color: #fdf7e2;
  background-image: url('../images/sort_fav.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.h_sort_li.h_sort_all {
  float: right;
  background-image: url('../images/sort_az.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.h_sort_li.h_sort_irr {
  float: right;
  background-image: url('../images/sort_irr.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.hints {
  position: fixed;
  left: 50%;
  bottom: 40px;
  z-index: 100;
  display: none;
  width: 306px;
  height: 96px;
  margin-left: -153px;
  background-image: url('../images/hint_shadow.png');
  background-position: 0px 0px;
  background-size: 306px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
  line-height: 86px;
  font-weight: 700;
  text-align: center;
}

.web {
  font-size: 14px;
  line-height: 22px;
}

.web_later {
  position: fixed;
  left: 0px;
  top: 40%;
  right: 0px;
  bottom: 0px;
  max-height: 100%;
  min-height: 100%;
  font-size: 200%;
  line-height: 130%;
  text-align: center;
}

.web_emoji {
  font-family: 'Changa One', Impact, sans-serif;
}

.wrong_letters {
  background-color: #fdece7;
  color: #e6cbcb;
}

.c_addto {
  position: absolute;
  top: 290px;
  z-index: 19;
  width: 50px;
  height: 46px;
  background-image: url('../images/sort_fav.svg');
  background-position: 50% 10px;
  background-size: 18px;
  background-repeat: no-repeat;
}

.c_col_ul {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 240px;
  padding-top: 6px;
  padding-right: 4px;
  padding-left: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: white;
}

.c_col_li {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 240px;
  height: 39px;
  font-size: 18px;
  line-height: 29px;
}

.c_tns_h {
  position: absolute;
  display: block;
  height: 38px;
  margin-top: 0px;
  padding-left: 10px;
  font-family: 'Droid Sans', sans-serif;
  color: #f3f0e9;
  font-size: 22px;
  line-height: 38px;
  font-weight: 400;
}

.c {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 336px;
  background-color: #f7f5f2;
  font-family: 'Droid Sans', sans-serif;
}

.c.c_fixed {
  z-index: 11;
}

.c_menu_mat {
  position: absolute;
  left: 15px;
  top: 3px;
  display: none;
  width: 20px;
  height: 20px;
  margin-top: 7px;
  background-image: url('../images/material-o.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.37;
}

.h_li_hint {
  display: none;
}

.c_tns_h2 {
  display: none;
  margin-top: 40px;
  line-height: 24px;
}

.h_alfa {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 46px;
  margin: 2px 10px 2px 20px;
  padding-top: 0px;
  float: left;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #615d55;
  font-size: 39px;
  line-height: 45px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.shader {
  position: fixed;
  top: 0px;
  z-index: 30;
  display: none;
  width: 100%;
  background-color: rgba(186, 176, 158, 0.44);
}

.c_tns_h_tiempos {
  display: block;
  padding-top: 2px;
  float: left;
}

.c_tns_h_clear {
  display: block;
  padding-top: 2px;
  float: right;
}

html.w-mod-js *[data-ix="li-hint-appear"] {
  opacity: 0.14;
}

@media (max-width: 991px) {
  .h_li {
    height: 40px;
    margin-right: 4px;
    padding: 8px 10px 4px;
    font-size: 18px;
    line-height: 23px;
  }
  .h_li.h_li_active {
    height: 40px;
    margin-right: 4px;
    padding: 8px 8px 4px;
    font-size: 18px;
    line-height: 23px;
  }
  .c_translate {
    font-size: 17px;
  }
  .c_translate.c_fixed {
    font-size: 17px;
    line-height: 20px;
  }
  .c_col.c_pron {
    top: 40px;
    z-index: 21;
    color: #bab09e;
    font-size: 14px;
    line-height: 39px;
  }
  .c_col.c_pron.c_fixed {
    font-size: 13px;
    line-height: 39px;
  }
  .key {
    min-width: 8.07%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    padding-top: 5px;
    padding-bottom: 7px;
    font-size: 23px;
    text-transform: none;
  }
  .key_enter {
    margin-top: 5px;
    margin-right: 5px;
  }
  .key_enter.key_enter_active {
    margin-top: 5px;
    margin-right: 5px;
    background-size: 44%;
  }
  .key_back {
    width: 8.07%;
    height: 63px;
    background-position: 37% 50%;
  }
  .h_search {
    display: none;
  }
  .h_sugg_ul {
    padding-left: 50px;
  }
  .key_hidekbd {
    height: 80px;
  }
  .c_col_ul {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .c {
    height: 346px;
  }
  .h_alfa {
    height: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 39px;
  }
}

@media (max-width: 767px) {
  .h_li {
    height: 36px;
    margin-right: 4px;
    padding: 7px 6px 5px;
    font-size: 16px;
    line-height: 21px;
  }
  .h_li.h_li_active {
    height: 36px;
    margin-top: 2px;
    margin-right: 4px;
    margin-bottom: 2px;
    padding: 7px 6px 5px;
    font-size: 16px;
    line-height: 21px;
  }
  .c_translate {
    font-size: 14px;
  }
  .c_translate.c_fixed {
    font-size: 15px;
  }
  .c_col.c_pron {
    padding-top: 7px;
    color: #bab09e;
    font-size: 12px;
    line-height: 29px;
  }
  .c_col.c_pron.c_fixed {
    padding-top: 8px;
    font-size: 12px;
    line-height: 29px;
  }
  .c_col.c_th {
    font-size: 12px;
  }
  .c_col.c_th.c_th_active {
    padding-left: 6px;
    font-size: 12px;
  }
  .c_time_tr.c_time_th {
    margin-right: 4px;
  }
  .h {
    top: 266px;
  }
  .c_trans {
    top: 220px;
  }
  .c_trans.c_fixed {
    top: 220px;
    font-size: 16px;
  }
  .key {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px none black;
    background-color: white;
    font-size: 19px;
    line-height: 20px;
    text-transform: uppercase;
  }
  .key_enter {
    width: 44px;
    height: 44px;
    margin-top: 0px;
    margin-right: 5px;
  }
  .key_enter.key_enter_active {
    margin: 0px 5px 4px 0px;
    background-size: 43%;
  }
  .key_back {
    height: 29px;
    background-position: 50% 27%;
  }
  .key_back.key {
    height: 40px;
    background-position: 50% 50%;
  }
  .h_search {
    display: none;
  }
  .key_hidekbd {
    height: 50px;
    min-width: 8.88%;
  }
  .c_addto {
    top: 220px;
  }
  .c_col_ul {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 180px;
    padding-left: 6px;
  }
  .c_col_li {
    height: 29px;
    font-size: 14px;
    line-height: 29px;
  }
  .c_tns_h {
    display: block;
  }
  .c {
    height: 266px;
  }
  .c_tns_h2 {
    display: none;
  }
  .h_alfa {
    height: 36px;
    margin-top: 2px;
    margin-right: 4px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 29px;
    line-height: 36px;
  }
  .c_tns_h_tiempos {
    display: block;
  }
  .c_tns_h_clear {
    display: block;
  }
}

@media (max-width: 479px) {
  body {
    background-color: #f7f5f2;
    font-family: 'Droid Sans', sans-serif;
  }
  .h_list {
    border-style: none;
  }
  .h_list.h_all {
    padding-top: 0px;
  }
  .h_li {
    margin-top: 2px;
    margin-right: 4px;
    margin-bottom: 2px;
    padding: 7px 6px 5px;
    float: left;
    font-size: 16px;
    line-height: 21px;
  }
  .h_li.h_li_active {
    padding-top: 7px;
    padding-bottom: 5px;
    border-radius: 3px;
    background-color: #eac84d;
    color: white;
    line-height: 20px;
  }
  .h_showall {
    position: fixed;
    bottom: 0px;
    width: 44px;
    height: 50px;
    float: left;
    background-color: #f7f5f2;
    background-image: url('../images/h_showall.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .c {
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    background-color: #f7f5f2;
  }
  .c.c_fixed {
    position: fixed;
    top: 0px;
    z-index: 11;
    width: 100%;
    padding-top: 0px;
  }
  .c_translate {
    height: 46px;
  }
  .c_translate.c_fixed {
    height: 46px;
  }
  .c_col {
    width: 110px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    color: black;
  }
  .c_col.c_pron {
    position: absolute;
    width: 44px;
    margin-left: 0px;
    padding-left: 12px;
    background-color: #f7f5f2;
    color: #bab09e;
    font-size: 12px;
    line-height: 29px;
  }
  .c_col.c_pron.c_fixed {
    z-index: 19;
  }
  .c_col.c_th {
    min-height: 36px;
    margin-top: 4px;
    padding-right: 10px;
    color: white;
    font-size: 12px;
    line-height: 14px;
  }
  .c_col.c_th.c_th_active {
    padding-left: 4px;
    border-color: #c9c0b2;
    background-color: #c9c0b2;
    font-size: 12px;
    line-height: 15px;
  }
  .c_time_tr.c_time_th {
    position: absolute;
    z-index: 30;
    width: 660px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 44px;
    background-color: #bab09e;
    color: white;
    font-size: 12px;
  }
  .c_timetable {
    overflow-x: scroll;
    overflow-y: scroll;
    width: 660px;
    margin-bottom: 0px;
    padding-top: 40px;
    clear: left;
  }
  .h {
    top: 266px;
  }
  .c_trans {
    top: 220px;
    width: 100%;
    height: 40px;
    padding-top: 0px;
    float: none;
  }
  .keyboard {
    position: fixed;
    bottom: 0px;
    z-index: 60;
    display: block;
    width: 100%;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    border-top: 1px solid whitesmoke;
    background-color: white;
    box-shadow: #4d3c3c 0px 0px 21px -9px;
  }
  .key {
    min-width: 8.4%;
    margin: 2px 1px;
    padding-top: 14px;
    padding-bottom: 14px;
    float: left;
    border-radius: 4px;
    background-color: rgba(247, 247, 247, 0);
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  .key:active {
    background-color: whitesmoke;
  }
  .key.key_enter {
    position: fixed;
    right: 6px;
    padding-right: 5px;
    padding-left: 5px;
    float: right;
    background-color: #beeffc;
    text-decoration: none;
    text-transform: capitalize;
  }
  .key.key_back {
    height: 47px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 0.3;
  }
  .key_tr {
    padding-right: 6px;
    padding-left: 6px;
  }
  .key_tr.key_tr_3 {
    padding-right: 20px;
    padding-left: 40px;
  }
  .key_tr_3 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .h_x {
    position: relative;
    right: 0px;
    display: block;
    width: 44px;
    height: 50px;
    padding-top: 12px;
    float: right;
    background-color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 34px;
    text-align: center;
  }
  .h_searchinput {
    display: block;
    overflow-x: visible;
    overflow-y: visible;
    height: 50px;
    margin-right: 44px;
    margin-left: 0px;
    padding-right: 0px;
    float: left;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 2px;
  }
  .key_enter {
    position: static;
    right: 6px;
    width: 44px;
    height: 44px;
    margin: 2px 5px 4px 1px;
    padding: 8px 7px;
    float: right;
    border-radius: 40px;
    background-color: #e4e4e4;
    background-image: url('../images/subm_e.svg');
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    color: white;
    font-size: 14px;
    text-align: center;
  }
  .key_enter.key_enter_active {
    margin: 2px 5px 4px 1px;
    background-color: #d36b50;
    background-image: url('../images/subm_e.svg');
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    opacity: 1;
  }
  .key_back {
    width: 28px;
    height: 32px;
    margin: 10px 0px 4px 1px;
    padding-top: 6px;
    padding-bottom: 6px;
    float: right;
    border-radius: 3px;
    background-image: url('../images/key_back.svg');
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    text-align: center;
  }
  .key_back.key {
    min-width: 8.8%;
    opacity: 1;
  }
  .key_back.key.key_back_active {
    opacity: 1;
  }
  .h_search {
    position: absolute;
    left: 0px;
    top: 250px;
    right: 0px;
    z-index: 20;
    display: none;
    overflow-x: visible;
    overflow-y: visible;
    height: 50px;
    margin-left: 0px;
    background-color: white;
  }
  .h_suggest {
    position: absolute;
    left: 0px;
    top: 46px;
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
  }
  .h_sugg_ul {
    padding-left: 50px;
    text-decoration: none;
  }
  .h_sugg_li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    background-color: rgba(255, 255, 255, 0.96);
    font-family: 'PT Sans', sans-serif;
    color: #b8b8b8;
    font-size: 17px;
    text-decoration: none;
    list-style-type: none;
  }
  .h_sugg_li.h_sugg_first {
    color: black;
  }
  .h_sugg_li.h_sugg_second {
    color: #777;
  }
  .refl {
    background-color: yellow;
    color: #979797;
  }
  .key_showkbd {
    width: 44px;
    margin-top: 2px;
    margin-right: 0px;
    margin-left: 0px;
    float: left;
  }
  .key_showkbd.key_hidekbd {
    width: 44px;
    background-image: url('../images/key_hide.svg');
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .key_hidekbd {
    width: 44px;
    height: 50px;
    margin-top: 2px;
    float: left;
    background-image: url('../images/key_hide.svg');
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .h_search_cursor {
    display: inline-block;
    width: 3px;
    height: 28px;
    margin-top: 8px;
    float: none;
    background-color: #d36b50;
  }
  .h_sort {
    position: static;
    width: 44px;
    margin-top: 20px;
    padding-left: 0px;
    float: left;
  }
  .h_sort.h_sort_favorite {
    background-image: url('../images/h_showall.svg');
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .h_sort.h_sort_fixed {
    position: fixed;
    bottom: 0px;
    z-index: 50;
    display: none;
    width: 100%;
    padding-left: 50px;
    background-color: #fcfcfc;
  }
  .h_sort_li {
    float: right;
  }
  .h_sort_li.h_sort_favorite {
    background-image: url('../images/sort_fav.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .h_sort_li.h_sort_favorite.h_sort_active {
    border-radius: 4px;
    background-position: 50% 50%;
    opacity: 1;
  }
  .h_sort_li.h_sort_all {
    background-image: url('../images/sort_az.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .h_sort_li.h_sort_irr {
    background-image: url('../images/sort_irr.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .hints {
    display: none;
    border-radius: 100px;
    background-color: transparent;
    background-image: url('../images/hint_shadow.png');
    background-position: 50% 50%;
    background-size: 306px 96px;
    background-repeat: no-repeat;
    color: black;
    font-size: 18px;
    line-height: 86px;
    font-weight: 700;
    text-align: center;
    text-indent: 0px;
  }
  .body_keyboard_active {
    background-color: white;
  }
  .wrong_letters {
    background-color: #fdece7;
    color: #e6cbcb;
  }
  .c_fav_add {
    position: absolute;
    left: 3px;
    top: 230px;
    z-index: 11;
    width: 47px;
    height: 47px;
    border-radius: 40px;
    background-image: url('../images/');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .c_fav_add.c_fav_added {
    background-image: url('../images/');
    background-position: 50% 50%;
    background-size: cover;
  }
  .c_addto {
    top: 220px;
    z-index: 19;
  }
  .c_col_ul {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 180px;
    padding-right: 4px;
    padding-left: 4px;
    box-shadow: none;
    list-style-type: none;
  }
  .c_col_li {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 150px;
    height: 29px;
    font-size: 14px;
  }
  .c_tns_h {
    display: block;
    font-size: 20px;
  }
  .c_tns_h.c_tns_h2 {
    position: static;
    font-size: 16px;
  }
  .c {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 266px;
  }
  .h_li_hint {
    display: none;
    margin-top: 2px;
    margin-right: 0px;
    margin-bottom: 8px;
    padding: 10px 10px 10px 14px;
    clear: both;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #fffdbe;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #424242;
    line-height: 25px;
    font-style: normal;
  }
  .h_li_hint_x {
    width: 30px;
    height: 30px;
    float: right;
    text-align: center;
  }
  .h_li_hint_yellow {
    display: inline-block;
    padding-right: 4px;
    padding-bottom: 0px;
    padding-left: 4px;
    border-radius: 4px;
    background-color: white;
    color: #eac84d;
  }
  .h_li_hint_yellow.h_li_hint_irr {
    display: inline-block;
    overflow-x: visible;
    overflow-y: visible;
    width: 30px;
    float: none;
    background-image: url('../images/sort_irr.svg');
    background-position: 50% 50%;
    background-size: 14px;
    background-repeat: no-repeat;
    color: rgba(235, 201, 77, 0);
  }
  .h_li_hint_yellow.h_li_hint_all {
    display: inline-block;
    width: 30px;
    background-image: url('../images/sort_az.svg');
    background-position: 50% 50%;
    background-size: 14px;
    background-repeat: no-repeat;
    color: rgba(235, 201, 77, 0);
  }
  .h_li_hint_yellow.h_li_hint_key {
    width: 30px;
    background-image: url('../images/key_show.svg');
    background-position: 50% 50%;
    background-size: 15px;
    background-repeat: no-repeat;
    color: rgba(235, 201, 77, 0);
  }
  .c_tns_h2 {
    display: none;
    padding-left: 10px;
    float: none;
    font-size: 16px;
  }
  .c_tns_h_tiempos {
    display: block;
  }
  .c_tns_h_clear {
    display: block;
  }
}