::-webkit-scrollbar { 
    display: none; 
}


#shader {display: none; z-index: 41;}
.h_search {z-index: 51;}

.keyboard {display: block;}


#inputverb {opacity: 0;}

.h_sort_li,
.h_sugg_li,
.h_li,
.h_x,
.key_enter,
.c_menu,
.c_th,
.c_tns_actions_ok,
.c_tns_h span,
.key {cursor: pointer;}


.h_search_cursor,
#searchtext {
	/* float:left; */
	margin-bottom: -3px
	}


.h_search,
.h_suggest {
	display: none;
}



.h_suggest .h_sugg_li_first_child {
	color: black;
}
.h_suggest .h_sugg_li_second_child {
	color: #777;
}

/* 4S */
@media screen and (max-height: 480px) {

  .h_search {
      top: 0px;
  }
  .h_suggest {
  height: 300px;
  }

	.h_list {
		margin-left: 10px;
	}
	
  
}

/* Horizontal phone */
@media screen and (max-height: 400px) {
  

/*
  .key_showkbd {
    left: auto;
    right: 0px !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 0px; 
  }	
  
  .key_enter,
  .key_enter.key_enter_active {
    margin-right: 15px;
  }
  
  .key_hidekbd {
    float: right;
  }
  
  .key_tr_3 .key_tr {
    padding-left: 9.88%;
  }
*/
  
  
  
}


.c_translate {	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}



* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);	
  -webkit-user-select: none;
  -webkit-user-drag: none;
}





.h_sort_active {

  }
.h_sort_li  {
	text-indent: -1000px;
}

  .h_sort_li.h_sort_favorite.h_sort_active {

  }  
  
  .c_addto,  
  .h_sort_li.h_sort_favorite {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#DFDCD6" fill-rule="evenodd" d="M11.528 19.156l-6.233 3.337c-.75.4-1.23.055-1.074-.78l1.295-6.866L.37 10.035c-.62-.58-.435-1.137.4-1.245l7.042-.914 3.05-6.302c.37-.764.967-.767 1.338 0l3.05 6.302 7.04.914c.84.11 1.02.667.402 1.245l-5.146 4.812 1.29 6.866c.157.832-.324 1.18-1.073.78l-6.23-3.337z"/></svg>');
  }
  .h_sort_li.h_sort_all {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#DFDCD6" fill-rule="evenodd" d="M7.35.236c-.06.046-.122.107-.18.183 0 0-.685.866-.753 1.042C5.047 4.997.783 13.942.783 13.942c-.232.49.023.895.574.895H3.16c.548 0 1.183-.407 1.41-.91L5.44 12h4.47L8.62 9H6.793l1.684-3.733.022.05 4.265 9.323c.228.5.75.603 1.155.235l1.34-1.212c.408-.37.535-1.067.283-1.558 0 0-3.495-6.716-4.79-10.053-.024-.063-.296-.54-.61-1.095l-.026-.044c-.06-.107-.123-.2-.188-.28C9.78.257 9.42 0 9 0H8c-.25 0-.475.09-.65.236zM23 12v-2c0-.557-.445-1-.995-1H15.78l1.59 3h.91l-7.245 7.995.003.005H11v2c0 .557.45 1 1.002 1h9.996c.546 0 1.002-.447 1.002-1v-1c0-.557-.45-1-1.002-1H15.75L23 12z"/></svg>');
  }
  .h_sort_li.h_sort_irr {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#DFDCD6" fill-rule="evenodd" d="M12.09 16.014c.963 1.23 2.163 2.104 4.013 2.104 0 0 1.64.028 1.878 0 .57-.067 1.53 0 1.53 0l-1.54 1.592c-.49.496-.23.947.27 1.443.5.496 1.03.265 1.53-.23l3-3.28c.06-.06.12-.127.16-.198.02-.023.03-.05.04-.074.03-.04.06-.09.08-.14.02-.03.03-.07.04-.1.02-.04.03-.08.04-.13.01-.06.02-.12.02-.18 0-.02.01-.04 0-.11 0-.06 0-.13-.02-.19 0-.04-.02-.08-.03-.12l-.03-.11c-.02-.04-.043-.08-.067-.122-.02-.03-.03-.065-.05-.09-.05-.07-.1-.14-.16-.197l-3-2.924c-.25-.25-.926-.755-1.527-.1-.47.515-.495 1 0 1.496l1.423 1.228s-1.337-.03-1.94-.25c-.198-.07-1.613-.16-1.613-.16-1.15 0-1.87-.694-2.49-1.722-.364.71-.72 1.38-1.012 1.88-.13.23-.31.48-.5.72zM8.656 10.55c-1.362-1.81-2.762-2.79-4.73-2.79H2.204c-.7 0-1.125-.18-1.125-1.356 0-1.176.59-1.383 1.29-1.383h1.72c2.76 0 4.63.9 6.11 2.54-.31.76-.66 1.54-.97 2.08-.16.27-.36.59-.59.92zm8.98-2.098c.605-.217 1.943-.248 1.943-.248L18.05 9.56c-.494.496-.47.982 0 1.495.602.656 1.28.15 1.526-.097l3.1-3.054c.058-.06.11-.124.157-.194.02-.03.033-.06.05-.09.023-.043.048-.084.067-.13.015-.036.024-.076.035-.115.012-.04.027-.08.036-.12.02-.067.02-.133.02-.2.01-.07 0-.088 0-.108 0-.063 0-.126-.02-.188-.01-.05-.02-.09-.04-.14-.01-.04-.01-.07-.03-.11-.02-.05-.05-.1-.07-.15-.01-.03-.02-.05-.04-.08-.05-.07-.1-.14-.16-.2L19.7 2.8c-.496-.496-1.032-.727-1.527-.23-.496.495-.762.946-.267 1.44l1.53 1.61s-.964.07-1.527 0c-.24-.03-1.88 0-1.88 0-3.73 0-4.81 3.56-6.65 6.42-1.63 2.54-3.17 3.94-5.52 3.94H2.13c-.7 0-1.126.18-1.126 1.36 0 1.176.59 1.383 1.29 1.383H4.02c3.732 0 5.844-1.633 7.55-4.553 1.556-2.66 2.11-5.57 4.46-5.57 0 0 1.415-.082 1.612-.153z"/></svg>');
  } 

  

  .c_addto.c_addto_active,
  .h_sort_li.h_sort_favorite.h_sort_active {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#EAC84D" fill-rule="evenodd" d="M11.528 19.156l-6.233 3.337c-.75.4-1.23.055-1.074-.78l1.295-6.866L.37 10.035c-.62-.58-.435-1.137.4-1.245l7.042-.914 3.05-6.302c.37-.764.967-.767 1.338 0l3.05 6.302 7.04.914c.84.11 1.02.667.402 1.245l-5.146 4.812 1.29 6.866c.157.832-.324 1.18-1.073.78l-6.23-3.337z"/></svg>');  
  }
  .h_sort_li.h_sort_all.h_sort_active {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#EAC84D" fill-rule="evenodd" d="M7.35.236c-.06.046-.122.107-.18.183 0 0-.685.866-.753 1.042C5.047 4.997.783 13.942.783 13.942c-.232.49.023.895.574.895H3.16c.548 0 1.183-.407 1.41-.91L5.44 12h4.47L8.62 9H6.793l1.684-3.733.022.05 4.265 9.323c.228.5.75.603 1.155.235l1.34-1.212c.408-.37.535-1.067.283-1.558 0 0-3.495-6.716-4.79-10.053-.024-.063-.296-.54-.61-1.095l-.026-.044c-.06-.107-.123-.2-.188-.28C9.78.257 9.42 0 9 0H8c-.25 0-.475.09-.65.236zM23 12v-2c0-.557-.445-1-.995-1H15.78l1.59 3h.91l-7.245 7.995.003.005H11v2c0 .557.45 1 1.002 1h9.996c.546 0 1.002-.447 1.002-1v-1c0-.557-.45-1-1.002-1H15.75L23 12z"/></svg>');

  }
 
  .h_sort_li.h_sort_irr.h_sort_active {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#EAC84D" fill-rule="evenodd" d="M12.09 16.014c.963 1.23 2.163 2.104 4.013 2.104 0 0 1.64.028 1.878 0 .57-.067 1.53 0 1.53 0l-1.54 1.592c-.49.496-.23.947.27 1.443.5.496 1.03.265 1.53-.23l3-3.28c.06-.06.12-.127.16-.198.02-.023.03-.05.04-.074.03-.04.06-.09.08-.14.02-.03.03-.07.04-.1.02-.04.03-.08.04-.13.01-.06.02-.12.02-.18 0-.02.01-.04 0-.11 0-.06 0-.13-.02-.19 0-.04-.02-.08-.03-.12l-.03-.11c-.02-.04-.043-.08-.067-.122-.02-.03-.03-.065-.05-.09-.05-.07-.1-.14-.16-.197l-3-2.924c-.25-.25-.926-.755-1.527-.1-.47.515-.495 1 0 1.496l1.423 1.228s-1.337-.03-1.94-.25c-.198-.07-1.613-.16-1.613-.16-1.15 0-1.87-.694-2.49-1.722-.364.71-.72 1.38-1.012 1.88-.13.23-.31.48-.5.72zM8.656 10.55c-1.362-1.81-2.762-2.79-4.73-2.79H2.204c-.7 0-1.125-.18-1.125-1.356 0-1.176.59-1.383 1.29-1.383h1.72c2.76 0 4.63.9 6.11 2.54-.31.76-.66 1.54-.97 2.08-.16.27-.36.59-.59.92zm8.98-2.098c.605-.217 1.943-.248 1.943-.248L18.05 9.56c-.494.496-.47.982 0 1.495.602.656 1.28.15 1.526-.097l3.1-3.054c.058-.06.11-.124.157-.194.02-.03.033-.06.05-.09.023-.043.048-.084.067-.13.015-.036.024-.076.035-.115.012-.04.027-.08.036-.12.02-.067.02-.133.02-.2.01-.07 0-.088 0-.108 0-.063 0-.126-.02-.188-.01-.05-.02-.09-.04-.14-.01-.04-.01-.07-.03-.11-.02-.05-.05-.1-.07-.15-.01-.03-.02-.05-.04-.08-.05-.07-.1-.14-.16-.2L19.7 2.8c-.496-.496-1.032-.727-1.527-.23-.496.495-.762.946-.267 1.44l1.53 1.61s-.964.07-1.527 0c-.24-.03-1.88 0-1.88 0-3.73 0-4.81 3.56-6.65 6.42-1.63 2.54-3.17 3.94-5.52 3.94H2.13c-.7 0-1.126.18-1.126 1.36 0 1.176.59 1.383 1.29 1.383H4.02c3.732 0 5.844-1.633 7.55-4.553 1.556-2.66 2.11-5.57 4.46-5.57 0 0 1.415-.082 1.612-.153z"/></svg>');
  }  


  .h_sort_li.h_sort_favorite.h_sort_active, 
  .h_sort_li.h_sort_all.h_sort_active,
  .h_sort_li.h_sort_irr.h_sort_active
  {  background-color: #fdf7e2;    }


/* Хинты */

  .h_li_hint_yellow.h_li_hint_irr {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill="#EAC84D" fill-rule="evenodd" d="M12.09 16.014c.963 1.23 2.163 2.104 4.013 2.104 0 0 1.64.028 1.878 0 .57-.067 1.53 0 1.53 0l-1.54 1.592c-.49.496-.23.947.27 1.443.5.496 1.03.265 1.53-.23l3-3.28c.06-.06.12-.127.16-.198.02-.023.03-.05.04-.074.03-.04.06-.09.08-.14.02-.03.03-.07.04-.1.02-.04.03-.08.04-.13.01-.06.02-.12.02-.18 0-.02.01-.04 0-.11 0-.06 0-.13-.02-.19 0-.04-.02-.08-.03-.12l-.03-.11c-.02-.04-.043-.08-.067-.122-.02-.03-.03-.065-.05-.09-.05-.07-.1-.14-.16-.197l-3-2.924c-.25-.25-.926-.755-1.527-.1-.47.515-.495 1 0 1.496l1.423 1.228s-1.337-.03-1.94-.25c-.198-.07-1.613-.16-1.613-.16-1.15 0-1.87-.694-2.49-1.722-.364.71-.72 1.38-1.012 1.88-.13.23-.31.48-.5.72zM8.656 10.55c-1.362-1.81-2.762-2.79-4.73-2.79H2.204c-.7 0-1.125-.18-1.125-1.356 0-1.176.59-1.383 1.29-1.383h1.72c2.76 0 4.63.9 6.11 2.54-.31.76-.66 1.54-.97 2.08-.16.27-.36.59-.59.92zm8.98-2.098c.605-.217 1.943-.248 1.943-.248L18.05 9.56c-.494.496-.47.982 0 1.495.602.656 1.28.15 1.526-.097l3.1-3.054c.058-.06.11-.124.157-.194.02-.03.033-.06.05-.09.023-.043.048-.084.067-.13.015-.036.024-.076.035-.115.012-.04.027-.08.036-.12.02-.067.02-.133.02-.2.01-.07 0-.088 0-.108 0-.063 0-.126-.02-.188-.01-.05-.02-.09-.04-.14-.01-.04-.01-.07-.03-.11-.02-.05-.05-.1-.07-.15-.01-.03-.02-.05-.04-.08-.05-.07-.1-.14-.16-.2L19.7 2.8c-.496-.496-1.032-.727-1.527-.23-.496.495-.762.946-.267 1.44l1.53 1.61s-.964.07-1.527 0c-.24-.03-1.88 0-1.88 0-3.73 0-4.81 3.56-6.65 6.42-1.63 2.54-3.17 3.94-5.52 3.94H2.13c-.7 0-1.126.18-1.126 1.36 0 1.176.59 1.383 1.29 1.383H4.02c3.732 0 5.844-1.633 7.55-4.553 1.556-2.66 2.11-5.57 4.46-5.57 0 0 1.415-.082 1.612-.153z"/></svg>');
  }
  .h_li_hint_yellow.h_li_hint_all {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#EAC84D" fill-rule="evenodd" d="M7.35.236c-.06.046-.122.107-.18.183 0 0-.685.866-.753 1.042C5.047 4.997.783 13.942.783 13.942c-.232.49.023.895.574.895H3.16c.548 0 1.183-.407 1.41-.91L5.44 12h4.47L8.62 9H6.793l1.684-3.733.022.05 4.265 9.323c.228.5.75.603 1.155.235l1.34-1.212c.408-.37.535-1.067.283-1.558 0 0-3.495-6.716-4.79-10.053-.024-.063-.296-.54-.61-1.095l-.026-.044c-.06-.107-.123-.2-.188-.28C9.78.257 9.42 0 9 0H8c-.25 0-.475.09-.65.236zM23 12v-2c0-.557-.445-1-.995-1H15.78l1.59 3h.91l-7.245 7.995.003.005H11v2c0 .557.45 1 1.002 1h9.996c.546 0 1.002-.447 1.002-1v-1c0-.557-.45-1-1.002-1H15.75L23 12z"/></svg>');
  }
  .h_li_hint_yellow.h_li_hint_key {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="16"><path fill="#EAC84D" fill-rule="evenodd" d="M0 1.8C0 .807.81 0 1.8 0h.4C3.193 0 4 .81 4 1.8v.4C4 3.193 3.19 4 2.2 4h-.4C.807 4 0 3.19 0 2.2v-.4zm6 0C6 .807 6.81 0 7.8 0h.4c.994 0 1.8.81 1.8 1.8v.4C10 3.193 9.19 4 8.2 4h-.4C6.807 4 6 3.19 6 2.2v-.4zm6 0c0-.994.81-1.8 1.8-1.8h.4c.994 0 1.8.81 1.8 1.8v.4c0 .994-.81 1.8-1.8 1.8h-.4c-.994 0-1.8-.81-1.8-1.8v-.4zm6 0c0-.994.81-1.8 1.8-1.8h.4c.994 0 1.8.81 1.8 1.8v.4c0 .994-.81 1.8-1.8 1.8h-.4c-.994 0-1.8-.81-1.8-1.8v-.4zm-18 6C0 6.807.81 6 1.8 6h.4C3.193 6 4 6.81 4 7.8v.4c0 .994-.81 1.8-1.8 1.8h-.4C.807 10 0 9.19 0 8.2v-.4zm6 0C6 6.807 6.81 6 7.8 6h.4c.994 0 1.8.81 1.8 1.8v.4c0 .994-.81 1.8-1.8 1.8h-.4C6.807 10 6 9.19 6 8.2v-.4zm6 0c0-.994.81-1.8 1.8-1.8h.4c.994 0 1.8.81 1.8 1.8v.4c0 .994-.81 1.8-1.8 1.8h-.4c-.994 0-1.8-.81-1.8-1.8v-.4zm6 0c0-.994.81-1.8 1.8-1.8h.4c.994 0 1.8.81 1.8 1.8v.4c0 .994-.81 1.8-1.8 1.8h-.4c-.994 0-1.8-.81-1.8-1.8v-.4zm-15 6c0-.994.81-1.8 1.8-1.8h.4c.994 0 1.8.81 1.8 1.8v.4c0 .994-.81 1.8-1.8 1.8h-.4c-.994 0-1.8-.81-1.8-1.8v-.4zm6 0c0-.994.81-1.8 1.8-1.8h.4c.994 0 1.8.81 1.8 1.8v.4c0 .994-.81 1.8-1.8 1.8h-.4c-.994 0-1.8-.81-1.8-1.8v-.4zm6 0c0-.994.81-1.8 1.8-1.8h.4c.994 0 1.8.81 1.8 1.8v.4c0 .994-.81 1.8-1.8 1.8h-.4c-.994 0-1.8-.81-1.8-1.8v-.4z"/></svg>');
    
  }








  
  
body.body_keyboard_active,
body.body_keyboard_active .h_suggest li.h_sugg_li,
body.body_keyboard_active .h_x,
body.body_keyboard_active .keyboard {
	background-color: #FFF;
}  
	
body.body_keyboard_active .c {
  background-color: #f7f5f2;
}

  
body.body_keyboard_active .c,
body.body_keyboard_active .c_menu,
body.body_keyboard_active .c_pron,
body.body_keyboard_active .c_addto,
body.body_keyboard_active .c_trans {
	opacity: 0.15;
}     
  
.key.key_back {opacity:0.10}  
.key.key_back.key_back_active {opacity:1}  
  
  
  
.hints {
	opacity: 0;
	display: none;
}  
  
.c_fixed  {
	left: 0;
	position: fixed;
}
.c_col.c_menu.c_fixed {
	position: fixed;	
	background-color: #bab09e;		
}

.c_trans {
	overflow: hidden; 
	height: 46px;
}
.c_addto.c_fixed,
.c_trans.c_fixed,
.c_pron.c_fixed  {
	position: fixed;	
}

#sticky-wrapper {float: left;}


.c_col_wide {
	width: 160px;
}


.c_time_tr.c_time_th {
  width: 660px;
  z-index: 30;
  height: 40px;
  overflow: hidden;
 }
 
.c.c_th_shown {
	overflow: auto;
} 

.c { 

}



ul#h_all {
	color: #a0a0a0;	
}

#h_all {
/* 	border-top: 1px dotted #fff; */
}
#hint1,
#hint2 {display: none;}
#hint1 li {opacity: 1}

.c_time_th_hidden, 
.c_th .tns_long,
.c_th .tns_nivel
{display: none;}






.c_tns_actions {
	display: none;
	position: fixed;
	height: 70px;
	background: rgba(186, 176, 158, 0.8);
	padding: 10px 0;
	width: 100%;
	bottom: 0;
	z-index: 20;
	left: 0;		
}


.c_tns_actions_ok {
    padding: 10px;
    margin: 0 54px;
    width: auto;
    border-radius: 40px;
    text-align: center;
    background-color: rgba(243, 240, 233, 0.49);
    font-size: 16px;
 }
 .c_tns_actions_ok.c_tns_actions_ok_active {
	background-color: #fff;
    color: #000;
 }




.c_th {display: none;}
.c_th.c_th_active {display: block;}


.c_th .tns_short {display: block;}

.c_th_shown .c_th,
.c_th_shown .c_time_th_hidden,
.c_th_shown .c_th_active,
.c_th_shown .c_th .tns_long,
.c_th_shown .c_th .tns_nivel,
.c_th_shown .c_tns_actions  {display: block;}

.c_th_shown .c_th .tns_short {display: none;}



.c_th_shown .c_th {
	float: none;
	width: 280px;
}

.c_tns_h .c_th,
.c_tns_h,
.c_tns_h2 {	display: none; padding-left: 10px;}

.c_th_shown .c_tns_h .c_th,
.c_th_shown .c_tns_h,
.c_th_shown .c_tns_h2 {	
	position: static;
	display: block;
	float: none;
	clear: both;
}

.c_th_shown .c_tns_h2 {
    font-size: 15px;
    line-height: 42px;	
    color: #4C4A45;
    font-weight: 800;
    font-style: italic;
    font-family: Georgia;  
    margin-top: 4px;      
}

.c_th_shown .c_timescroll .c_th {
	border: none;
}

.c_th_shown .c_col.c_th.c_th_active { 
	opacity: 1;
	background-color: #92897B;
	border: 0;
	}
.c_th_shown .c_timescroll .c_th.c_time_th_hidden {padding-left: 0px; opacity: 0.8;}

.c_th_shown .c_timescroll .c_th {
	font-size: 15px;
    line-height: 31px;
	padding-left: 10px;   
	border-radius: 4px; 
}

.c_th_shown .c_th .tns_nivel {
	float: right;
}

span.tns_nivel_A-1 {
	color: #FFFD72;
}
span.tns_nivel_A-2 {
	color: #FFDB6B;
}

span.tns_nivel_B-1 {
	color: #A0FF5D;
}
span.tns_nivel_B-2 {
	color: #83FFC2;
}

span.tns_nivel_C-1 {
	color: #FAC7FF;
}
span.tns_nivel_C-2 {
	color: #FAC7FF;
}


.c_th_shown .c_timetable .c_time_th .c_timescroll {
	overflow: scroll;	
    padding-bottom: 80px;	
}

.c_th_shown .c_th .tns_long {
/* 	margin-left: 30px; */
}

.c_th_shown .c_timescroll {
/* 	margin-left: -50px;	 */
	padding-bottom: 20px;
}

.c {
/*
  height: auto;
  overflow: hidden;
*/
}

span.neg {color: #ccc;}

.c_tns_h {height: 40px;}
.c_tns_h span {margin-right: 10px;}




.sugg_letters {
  color: #cfcfcf;
}

.h_inner {
	display: inline-block;
}
.h_inner.irr {
	background: url('../images/type_irr.svg') repeat-x 0 100%;
}
.h_li_active .h_inner.irr {
	background: url('../images/type_irr_active.svg') repeat-x 0 100%;
}